.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 3rem;
  background: var(--cor-bg-1);
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar li {
  padding: 0 1.25rem;
  position: relative;
}
.navbar li a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--cor-texto-1);
  transition: 0.25s ease;
}
.navbar li a:hover,
.navbar li a.active {
  color: var(--cor-texto-1-hover);
}
.navbar li a.active::after,
.navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 0.125rem;
  background-color: var(--cor-texto-1-hover);
  position: absolute;
  bottom: -0.25rem;
  left: 1.25rem;
}
